<header>
    <h3 class="title">Weather Aid</h3>
</header>

<section class="weather-container">
    <main id="main-container">
        <app-weather-detail [city]="selectedCity" [currentForeCast]="foreCastData?.nearestForecast"></app-weather-detail>
        <app-weekly-detail [weeklyForeCastData]="foreCastData?.currentWeatherData"></app-weekly-detail>
    </main>

    <aside id="favourites">
        <app-favourite-cities (cityUpdated)="updateCitySelection($event)"></app-favourite-cities>
    </aside>
</section>