<section class="weekly-detail-container">
    <ul class="weekly-detail">
        <li class="day-report">
            <div class="temperature">32&deg;C</div>
            <div class="desc">Rain</div>
        </li>
        <li class="day-report">
            <div class="temperature">32&deg;</div>
            <div class="desc">Rain</div>
        </li>
        <li class="day-report">
            <div class="temperature">32&deg;</div>
            <div class="desc">Rain</div>
        </li>
        <li class="day-report">
            <div class="temperature">32&deg;</div>
            <div class="desc">Rain</div>
        </li>
        <li class="day-report">
            <div class="temperature">32&deg;</div>
            <div class="desc">Rain</div>
        </li>
    </ul>
</section>