<section class="weekly-detail-container" *ngIf="nextFourDayForecast?.length">
    <ul class="weekly-detail">
        <ng-container *ngFor="let foreCast of nextFourDayForecast">
            <li class="day-report">
                <div class="temperature">{{foreCast?.temperature}}&deg;C</div>
                <img [src]="'https://openweathermap.org/img/wn/'+foreCast?.icon+'.png'" alt="">
                <div class="desc">{{foreCast?.weatherDescription | titlecase}}</div>
            </li>
        </ng-container>
    </ul>
</section>