<section class="weather-detail-container">
    <h2>London</h2>
    <div class="weather-report">
        <aside class="temperature-stats">
            <div class="temperature">
                32&deg;
            </div>
            <ul class="other-stats">
                <li>Wind</li>
                <li>Pressure</li>
                <li>Humidity</li>
            </ul>
        </aside>
        <aside class="stats">
            <ul class="secondary-stats">
                <li>Today</li>
                <li><h3>Saturday</h3></li>
                <li>Cloudy</li>
            </ul>
        </aside>
    </div>
</section>